main{
    margin-top: 4%;
    margin-bottom: 7%;
    padding: 5%;
    color: rgb(61, 61, 61);
}
section{
    display: grid;
}
section{
    h1{
        text-align: center;
        font-size: 35px;
        margin-bottom: 4%;
    }
    p{
        text-indent: 40px;
        font-size: 18px;
        text-align: center;
        // margin-bottom: 2%;
    }
}

.paragrafo{
    margin-bottom: 4%;
}

.legenda{
    padding-right: 15px;
    text-align: right;
    font-size: 13px;
    color: grey
}