footer{
    background-color: rgb(226, 226, 226);
    color: rgb(61, 61, 61);
    padding: 80px;
    text-align: center;

    .textos{
        margin-top: 3%;
    p{
        margin: 0.5%;
    }
    #negrito{
        margin-top: 2%;
        font-weight: bold;
    }
    }
}